@tailwind base;
@tailwind components;
@tailwind utilities;

.h-half {
  height: 50%;
}

.scroll-snap {
  scroll-snap-type: x mandatory;
}

.snap-child {
  scroll-snap-align: start;
}

.semi {
  background-color: rgba(0, 0, 0, 0.397);
}

.left-half {
  left: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
