@tailwind base;
@tailwind components;
@tailwind utilities;

.h-half {
  height: 50%;
}

.scroll-snap {
  scroll-snap-type: x mandatory;
}

.snap-child {
  scroll-snap-align: start;
}

.semi {
  background-color: rgba(0, 0, 0, 0.397);
}

.left-half {
  left: 50%;
}
